body{
    background-image: url(../assets/img/gato.jpg);
    background-size:cover;
    background-attachment: fixed;
    box-sizing: border-box;
    display:flex;
    margin: 0;
    text-align: center;
    
}

h1{
    background-color: rgba(0, 0, 0, 0.8);
    color: #f4e033;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
}
h2{
    
    background-color: rgb(255, 165,0,0.4);
    color: rgb(255, 255, 255, 0.4);

}